@media (max-width: 1439px) {
    aside {
        display: none;
    }

    .skills {
        &__wrapper {
            margin: 60px auto 0 auto;
            grid-template-columns: 1fr 1fr 1fr;
        }
    }
}


@media (max-width: 1200px) {
    .container {
        max-width: 960px;
    }

    .about {

        &__img {
            margin: 0 auto;
        }

        &__text {
            margin: 50px auto 0 auto;
        }
    }

    .portfolio {

        &__wrapper {
            grid-template-columns: repeat(auto-fill, 280px);
            justify-content: center;
            grid-auto-rows: 280px;
        }

        &__item {

            &-vert {
                grid-column: unset;
                grid-row: unset;
            }

            &-horizon {
                grid-column: unset;
                grid-row: unset;
            }
        }
    }

}

@media (max-width: 992px) {
    .container {
        max-width: 720px;
    }

    .experience {
        &__column {
            margin: 0 auto;
        }
    }

    .skills {
        &__wrapper {
            grid-template-columns: 1fr 1fr;
        }

        &__bar {
            width: 200px;
        }
    }

    .prices {
        &__column {
            margin: 0 auto;
        }
    }

}

@media (max-width: 768px) {
    .container {
        max-width: 540px;
    }

    .intro {
        h1 {
            font-size: 35px;
        }
    }

    .button {
        min-width: 110px;
        min-height: 30px;

        font-size: 12px;
    }

    .about {
        &__items {
            margin: 40px auto 0 auto;
        }
    }

    .skills {
        &__item {
            width: 250px;
        }

        &__bars {
            grid-template-columns: 1fr 1fr;
        }

        &__bar {
            width: 250px;
        }
    }
}

@media (max-width: 576px) {
    .container {
        width: 100%;
        padding: 0 30px;
    }

    .menu {
        &__block {
            width: 255px;

            &__list {
                font-size: 20px;
            }
        }
    }

    .skills {
        &__wrapper {
            grid-template-columns: 1fr;
        }

        &__bars {
            grid-template-columns: 1fr;
        }

        &__bar {
            width: 300px;
            margin: 40px auto 0 auto;
        }
    }

    .prices {
        &__headers {
            min-width: 270px;
        }
    }

}