.subheader {
    font-weight: bold;
    font-size: 16px;
    position: relative;
    z-index: 2;

    &::before {
        @include circle;
    }

    &_center {
        text-align: center;

        &::before {
            left: 50%;
            transform: translateX(-50%);
        }
    }

    &_fz14 {
        font-size: 14px;
    }
}